<div class="masthead masthead-ruby">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Don't waste your time locked away learning to code</h1>
        <p>Learn the basic tools you need as an MBA to start a tech company</p>
        <%= link_to "Enroll today for $20", new_user_registration_path, class: "btn btn-primary btn-hg btn-embossed" %>
      </div>
    </div>
  </div>
</div>
  
<!-- use this to make up for weird spacing -->
  <div class="right ribbon-corner-holder" style="margin-top:80px;">
  <span class="red ribbon-corner">
    <span class="text">Recent update</span>
  </span>
</div>

<!-- features section -->
<section class="features">
  <div class="container">
    <div class="row center">


      <div class="col-sm-4">
        <img alt="Iconhexagon play" src="/assets/variations/IconHexagon_Play-d489490c3880bf3fdf8b89204c6e9772.svg" />
        <h4 class="feature">Step-by-step videos</h3>
        <p>Made with the absolute beginner in mind. Don't know how to code? No problem.</p>
      </div>

      <div class="col-sm-4">
        <img alt="Iconhexagon html5" src="/assets/variations/IconHexagon_html5-0f3d05ab0a94166d8882d9b88bbf9e8c.svg" />
        <h4 class="feature">Build a real web app</h3>
        <p>Using HTML5, CSS, Ruby, Rails, JavaScript, SQL Databases, Git, Heroku and all the latest technologies.</p>
        <p></p>
      </div>

      <div class="col-sm-4">
        <img alt="Iconhexagon support" src="/assets/variations/IconHexagon_Support-f3eaf1ec4ec6f1ff04a56a0345329bdc.svg" />
        <h4 class="feature">Highfives</h3>
        <p>Real people. Office Hours. And a support community to help you reach your goal.</p>
      </div>
    </div>
  </div>
</section>
